---
layout: default
title: Archives
permalink: /archives/
---

<h2>Archives</h2>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
  <h3>{{ year.name }}</h3>
  {% for post in year.items %}
  <div class="row">
    <div class="three columns left lit">
      <p class="bottom">{{ post.date | date: "%b %-d" }}</p>
    </div>
    <div class="nine columns left mb-3">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </div>
  </div>
  {% endfor %}
{% endfor %}
